

.container {
 /* background-image:url("../Images/paper-note-with-clipper.jpg");*/
  width : 960px;
  height:800px;
}

#gamearea {

 width : 400px;
 height: 300px;
}


#mainCanvas {
  background-image:url("../Images/paper-note-with-clipper.jpg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  border:1px dashed blue;

}